---
layout: default
title: Instituto Fonográfico Tropical
---

<div id="home">
  <ul id="filter" class="option-set top-menu clearfix" data-option-key="filter" >


  			<li><a href="#show-all" class="filter" data-option-value="all" class="selected">#</a></li>
          {% for category in site.categories %}
          <li><a href="#{{ category | first }}" class="filter" data-option-value="{{ category | first }}">{{ category | first }}</a></li>
        {% endfor %}

                           

  		
 </ul>
  <div class="pagination col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path }}" class="previous">[-]</a>
                {% else %}
                  <span class="previous">[-]</span>
                {% endif %}
                <span class="page_number "> {{ paginator.page }} / {{ paginator.total_pages }}</span>
                {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path }}" class="next">[+]</a>
                {% else %}
                  <span class="next ">[+]</span>
                {% endif %}
                
              </div>
 <div class="clearfix"></div>

  <ul id="container" class="row">
    {% for post in paginator.posts %}
      <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12 element {{ post.categories }}">
      	
      	<div class="videoWrapper">
    		{{ post.video[0]}}
		</div>
      {{ post.content }}
      <h6>{{ post.categories }}</h6>
  	  </li>
    {% endfor %}
  </ul>
</div>


<script>
          $('#container').imagesLoaded(function() {
        $('#container').isotope({ 
            itemSelector : '.element' 
           
      });
        
        $('a.filter').click(function(e) {
              e.preventDefault();
          var to_filter = $(this).attr('data-option-value');
          if(to_filter == 'all') {
                  $('#container').isotope({filter: '.element'});
          } else {
                  $('#container').isotope({filter: '.'+ to_filter});
          }
          
        });
      });

          // set selected menu items
   var $optionSets = $('.option-set'),
       $optionLinks = $optionSets.find('a');
 
       $optionLinks.click(function(){
          var $this = $(this);
    // don't proceed if already selected
    if ( $this.hasClass('selected') ) {
        return false;
    }
   var $optionSet = $this.parents('.option-set');
   $optionSet.find('.selected').removeClass('selected');
   $this.addClass('selected'); 
});
      



  </script>
