<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta property="og:title" content="Instituto Fonográfico Tropical"/>
        <meta property="og:url" content="http://i-f-t.github.io/"/>
        <meta property="og:image" content="http://i-f-t.github.io/assets/img/logo.png"/>
        <meta property="og:site_name" content="Instituto Fonográfico Tropical"/>
        <meta property="og:description" content="O instituto fonográfico tropical é uma colecção crescente de discos de vinil que afloram um contorcionismo musical entre duas vogais, do semba para o samba, passando a jusante de uma tranche de cúmbias, coladeras, soukous, e o diabo em saiotes com palmeiras."/>
  

        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet"  href="/assets/css/estilinhos.css"/>

        <script src="/bower_components/less.js/dist/less-1.7.0.min.js" type="text/javascript"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
        </script>
        <script src="/bower_components/isotope/dist/isotope.pkgd.js" type="text/javascript"></script>
        <script src="/bower_components/masonry/dist/masonry.pkgd.js" type="text/javascript"></script>
        <script src="/bower_components/get-size/get-size.js" type="text/javascript"></script>
        <script src="/bower_components/imagesloaded/imagesloaded.pkgd.js" type="text/javascript"></script>

       

    </head>
    <body>

        <div class="container">
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
              <div class="header">
                <h1 class="title-over-2"><a href="https://www.facebook.com/pages/Instituto-Fonogr%C3%A1fico-Tropical/1498790707014317" target="_blank" class="tip" title="— facebook! —">{{ site.name }}</a></h1>
                <h1 class="title-over"><a href="https://www.facebook.com/pages/Instituto-Fonogr%C3%A1fico-Tropical/1498790707014317" target="_blank" class="tip" title="— facebook! —">{{ site.name }}</a></h1>
                <h1 class="title"><a href="https://www.facebook.com/pages/Instituto-Fonogr%C3%A1fico-Tropical/1498790707014317" target="_blank" class="tip" title="— facebook! —">{{ site.name }}</a></h1>
                <div class="clearfix"></div>
                <h6 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Phonographic Tropical Institute | Institut Tropical Phonographique | Phonographischen Institut Tropicalen | Instytut Tropikalny fonograficzne | Istituto Tropicale Fonografico </h6>
               <!--  <h6 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gigs">
                  <strong class="hidden-lg hidden-md hidden-sm blue">Fiesta! </br></strong>
                  <a href="https://www.facebook.com/events/522958697838767" class="tip" title="fiesta!" target="_blank">+ Rub A Linho | Associação de Jovens Angolanos | Rua Santa Catarina [POR] | 20/09/14 | 24h</a> </h6> -->
                <h6 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mail">
                  <strong class="hidden-lg hidden-md hidden-sm blue">bla,bla,bla,bla! </br></strong>
                  <a href="mailto:institutofonograficotropical@gmail.com" class="tip" title="bla,bla,bla,bla!">institutofonograficotropical@gmail.com</a> </h6>
                
                <div class="clearfix"></div>
                
              </div>
              
              <div class="content">

              {{ content }}

              </div>

              <div class="footer">
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                   O<span class="sm-caps"> instituto fonográfico tropical</span> é uma colecção crescente de discos de vinil que afloram um contorcionismo musical entre duas vogais, do <span class="sm-caps">semba</span> para o <span class="sm-caps">samba</span>, passando a jusante de uma tranche de <span class="sm-caps">cúmbias</span>, <span class="sm-caps">coladeras</span>, <span class="sm-caps">soukous</span>, e o diabo em saiotes com palmeiras.

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sm-caps">
                  <h6>2015</h6>
                  <ul>
                    <li><strong>suber clube</strong> | [por] | 05</li>
                    <li><strong>ofi. arara</strong> | [por] | 03</li>
                    <li><strong>haus mábitos</strong> | [por] | 03</li>
                    <li><strong>super clube</strong> | [por] | 01</li>
                    
                  </ul>
                  <h6>2014</h6>
                  <ul>
                    <li><strong>reveillon</strong> | [c-m] | 12</li>
                    <li><strong>zdb</strong> | [lis] | 12</li>
                    <li><strong>ofic. do convento</strong> | [m-o-n] | 12</li>
                    <li><strong>ass. j. angolanos</strong> | [por] | 09</li>
                    <li><strong>escritório fora</strong> | [lis] | 09</li> 

                  </ul>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sm-caps">
                  <h6>2014 [cont.]</h6>
                  <ul>
                    
                    <li><strong>ref</strong> | [tav] | 08</li>
                    <li><strong>tendinha poveiros</strong> | [por] | 07</li>
                    <li><strong>arara </strong> | [por]   | 06</li>
                    <li><strong>desportivo</strong> | [por] | 06</li>
                  </ul>

                  <h6>2013</h6>
                  <ul>
                    <li><strong>ofic. arara</strong> | [por] | 10</li>
                    <li><strong>gato vadio</strong> |[por] | 04</li>
                  </ul>
                </div>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
        </div>

    </body>
</html>
